<div>
  <p>
    Class -> Object<br />
    Instance Properties: What they have<br />
    -name -age -heigh<br />
    Instance Methods: what they do<br />
    -talk -run -jump
  </p>
</div>
<script src="/javascripts/es6/03.js"></script>
