<head>
  <style>
    .highlight {
      padding: 2;
      background: yellow;
      color: red;
    }
  </style>
</head>
<div>
  <p>
    This is Test Page For ES 6 Part 2 <br />
    console page for more information
  </p>
</div>
<div id="demo1"></div>
<br />
<div id="demo2"></div>
<br />
<div id="demo3"></div>
<br />
<div class="container">
  <form class="add-comment" action="">
    <textarea class="comment-text" name="" id="" cols="30" rows="10"> </textarea
    ><br />
    <button type="submit">Post Comment</button>
  </form>
  <div class="comment"></div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/2.0.8/purify.min.js"></script>
<script src="/javascripts/es6/02.js"></script>
